.card {
  text-align: left;
  padding-left: 20px;
}

hr {
  margin: 10px 10px;
  width: 100%;
  align-self: center;
}

h2 {
  font-size: 24px;
}

body {
  font-family: 'Gelasio', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  text-align: left;
  margin-left: 10px;
}

li {
  margin-bottom: 0;
}

.left {
  padding-right: 160px;
}
